<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.511139724333-ero8ov8u1ve5t2rtpdfm9s7p9lhqqnns</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(PRODUCT_VERSION)</string>
	<key>GIDClientID</key>
	<string>511139724333-ero8ov8u1ve5t2rtpdfm9s7p9lhqqnns.apps.googleusercontent.com</string>
</dict>
</plist>
